<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-7"> <strong>Gilben's Forecast</strong>
                <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 class="large-font mr-3">{{fahrenheitToCelcius(weather.current_observation.condition.temperature)}}</h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 class="mt-3 mb-0">{{weather.location.city}}, {{weather.location.country}}</h2> <small>{{timeWithPipe}}{{dateWithPipe}}</small>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <h3 class="fa-solid fa-sun"></h3> <strong>{{weather.current_observation.condition.text}}</strong>
                    </div>
                </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
                <div class="row px-3"> <input (keyup.enter) = "onSubmit()" [formControl]="search" type="text" name="location" placeholder="Another location" class="mb-5">
                    <div class="fa fa-search mb-5 mr-0 text-center"(click) = "onSubmit()"></div>
                </div>
                <div class="mr-5">
                    
                    
                    <p>Weather Details</p>
                    <div class="row px-3">
                        <p class="light-text">Visibility</p>
                        <p class="ml-auto">{{weather.current_observation.atmosphere.visibility}}</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Humidity</p>
                        <p class="ml-auto">{{weather.current_observation.atmosphere.humidity}}</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Wind</p>
                        <p class="ml-auto">{{weather.current_observation.wind.speed}} mph</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Pressure</p>
                        <p class="ml-auto">{{weather.current_observation.atmosphere.pressure}}</p>
                    </div>
                    <div class="line mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>